<%= form_with url: new_tweet_path, method: :get do |form| %>
    <div class="input">
      <%= form.label :body, class:"content--xs overline"%>
      <div class="tweet__container">
        <%= form.text_area :body, class: "tweet__content", placeholder: "Remember to think before write...", required: true %>

        <%= form.submit "Tweet", class: "btn btn--primary btn--small" %>
      </div>
    </div>
<% end %>